*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    list-style: none;
    color: inherit;
}
body{
    background-color: #f5f5f7;
}
.header{
    width: 100%;
    height: 45px;
    background-color: #a5a58d;
    position: fixed;
    top: 0;
    right: 0;
}
.header .header-center{
    width: 50%;
    height: 45px;
    margin: auto;
    position: relative;
}
.header .header-center img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.main{
    width: 100%;
    background-color: rgb(247, 245, 242);
}
.main-item{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    border: 5px solid rgb(241, 235, 235);
    border-radius: 5px;
}
.main .m01{
    margin-top: 50px;
    background-image: url('https://cdn.pixabay.com/photo/2021/04/29/07/36/lime-6215762__340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main .m02{
    background-image: url('https://cdn.pixabay.com/photo/2020/11/29/04/02/hand-5786371__340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main .m03{
    background-image: url('https://cdn.pixabay.com/photo/2021/07/09/07/11/boy-6398465__340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main .m04{
    background-image: url('https://cdn.pixabay.com/photo/2021/09/04/16/51/girl-6598198__340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main .m05{
    background-image: url('https://cdn.pixabay.com/photo/2021/03/14/02/14/girl-6093161__340.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main .main-item .text{
    padding-top: 20px;
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 2em;
}
.main .main-item .text .h1{
    font-size: 20px;
    font-weight: 900;
}
.main .main-item .text .p{
    font-size: 15px;
}
.main .main-item .text .a{
    font-size: 15px;
    font-weight: 900;
    color: rgb(253, 253, 253);
}

.footer{
    width: 100%;
    background-color: #f5f5f7;
    border-radius: 5px;
    border: 5px solid rgb(241, 235, 235);
}
.footer .menu{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}
.footer .menu ul li{
    list-style: none;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid #d2d2d7;
    color: #8e8e8f;
}

.footer .footer-xinxi{
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #8e8e8f;
}